body {
  font-family: Arial, sans-serif;
}

.panel {
  width: 45%;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#panel-shindo-left, #panel-shindo-right {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

#panel-timer {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#panel-magnitude-depth {
  margin-top: 20px;
  font-size: 16px;
}
